@use '../app-theme';
@use '@angular/material' as mat;

$ng-io-primary: mat.m2-define-palette(mat.$m2-blue-palette, 700, 600, 800);
$ng-io-accent: mat.m2-define-palette(mat.$m2-red-palette, 700, 600, 800);
$ng-io-warn: mat.m2-define-palette(mat.$m2-red-palette);
$ng-io-theme: mat.m2-define-light-theme($ng-io-primary, $ng-io-accent, $ng-io-warn);

@include mat.all-legacy-component-themes($ng-io-theme);
@include app-theme.theme($ng-io-theme);
