.example-button-row {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.flex33 {
  flex-basis: 33%;
  padding: 20px;
  box-sizing: border-box;
}

table {
  width: 100%;
}
