<div class="doc-navbar"></div>

<mat-toolbar>
  <span>Backend free demonstration</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<section class="row">
  <div class="flex33">
    <h2>Asset registry</h2>
    <app-asset-registry></app-asset-registry>
    <app-asset-create></app-asset-create>
  </div>
  <div class="flex33">
    <h2>Archive log</h2>
    <app-archive-log></app-archive-log>
  </div>
  <div class="flex33">
    <h2>Compliance check</h2>
    <app-archive-log></app-archive-log>
  </div>
</section>

<hr style="margin: 1%; width: 100%">

<section class="sidenav-content">
  <h1 class="no-toc">Live demo</h1>

  <span class="example-button-row">
    <button mat-icon-button aria-label="Browser back">
      <mat-icon>arrow_left</mat-icon>
    </button>
    <button mat-icon-button color="primary" aria-label="Browser forward">
      <mat-icon>arrow_right</mat-icon>
    </button>
    <mat-form-field appearance="outline">
      <mat-label>URL (e.g., https://footlocker.com)</mat-label>
      <input matInput #url>
    </mat-form-field>
    <button mat-icon-button color="accent" aria-label="Load and create report"
    (click)="runDemoWithUrl(url.value)">
      <mat-icon>receipt_long</mat-icon>
    </button>
  </span>

  <section *ngIf="displayIframe">
    <iframe
      id="inlineFrameExample"
      title="Inline Frame Example"
      width="100%"
      height="200"
      [src]="iframeUrl">
    </iframe>
    <h2>{{"Report for " + url.value.slice(url.value.indexOf("/")+2)}}</h2>
    <ul>
      <li>No logos found</li>
      <li>No text found found</li>
    </ul>
  </section>
</section>
