<div class="doc-navbar"></div>

<mat-toolbar>
  <span>Backend free demonstration</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<section class="row">
  <div class="flex33">
    <h2>Asset registry</h2>
    <app-asset-registry></app-asset-registry>
    <app-asset-create></app-asset-create>
  </div>
  <div class="flex33">
    <h2>Archive log</h2>
    <app-archive-log></app-archive-log>
  </div>
  <div class="flex33">
    <h2>Compliance check</h2>
    <app-archive-log></app-archive-log>
  </div>
</section>

<hr style="margin: 1%; width: 100%">

<section class="sidenav-content">
  <h1 class="no-toc">Live demo</h1>

  <span class="example-button-row">
    <button mat-icon-button aria-label="Browser back">
      <mat-icon>arrow_left</mat-icon>
    </button>
    <button mat-icon-button color="primary" aria-label="Browser forward">
      <mat-icon>arrow_right</mat-icon>
    </button>
    <mat-form-field appearance="outline">
      <mat-label>URL (e.g., https://footlocker.com)</mat-label>
      <input matInput #url>
    </mat-form-field>
    <button mat-icon-button color="accent" aria-label="Load and create report"
            (click)="runDemoWithUrl(url.value)">
      <mat-icon>receipt_long</mat-icon>
    </button>
  </span>

  <section *ngIf="displayIframe">
    <iframe
      id="inlineFrameExample"
      title="Inline Frame Example"
      width="100%"
      height="20px"
      [src]="iframeUrl">
    </iframe>
    <h2>{{"Report for " + domainName}}</h2>
    <ul>
      <li>No logos found</li>
      <li>No text found found</li>
    </ul>
  </section>
</section>
<table cellspacing="0" cellpadding="0" border="0" style="font-family: monospace; font-size: 10px"
       *ngIf="displayIframe">
  <tbody>
  <tr align="left">
    <th>status</th>
    <th style="text-align:left;padding-left:1em">type</th>
    <th style="text-align:right;padding-left:1em">size</th>
    <th style="padding-left:1em">.</th>
    <th style="text-align:left;padding-left:1em">url</th>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">text/html</td>
    <td style="text-align:right;padding-left:1em">4187</td>
    <td style="padding-left:1em">GET</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    [href]=domainName+"/westonaprice/">https://www.instagram.com/westonaprice/</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">text/css</td>
    <td style="text-align:right;padding-left:1em">138242</td>
    <td style="padding-left:1em">GET</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    href="https://static.cdninstagram.com/rsrc.php/v3/yQ/l/0,cross/Zi1LnUKVo7F-V5WwgZdFjp.css?_nc_x=Ij3Wp8lg5Kz">https://static.cdninstagram.com/rsrc.php/v3/yQ/l/0,cross/Zi1LnUKVo7F-V5WwgZdFjp.css?_nc_x=Ij3Wp8lg5Kz</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">application/x-javascript</td>
    <td style="text-align:right;padding-left:1em">80658</td>
    <td style="padding-left:1em">GET</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    href="https://static.cdninstagram.com/rsrc.php/v3/yp/r/05Q5Blars5_.js?_nc_x=Ij3Wp8lg5Kz">https://static.cdninstagram.com/rsrc.php/v3/yp/r/05Q5Blars5_.js?_nc_x=Ij3Wp8lg5Kz</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">application/x-javascript</td>
    <td style="text-align:right;padding-left:1em">553109</td>
    <td style="padding-left:1em">GET</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    href="https://static.cdninstagram.com/rsrc.php/v3iaWF4/yV/l/en_US/wFRBayo4jMD.js?_nc_x=Ij3Wp8lg5Kz">https://static.cdninstagram.com/rsrc.php/v3iaWF4/yV/l/en_US/wFRBayo4jMD.js?_nc_x=Ij3Wp8lg5Kz</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">application/x-javascript</td>
    <td style="text-align:right;padding-left:1em">606625</td>
    <td style="padding-left:1em">GET</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    href="https://static.cdninstagram.com/rsrc.php/v3ifSQ4/y0/l/en_US/BqaSE5X3ZuGbdNZ21mcVm7NU_jFXDCORmgHHMXh1Z3-jdVWBMdBzpT_i4rcqQsyVPL_1YNdNsYQi0nxIWFXTZK0-hw13SqsRtIDFOl6BnJSzK1pphjtPDEb3ljFKkW_AEj05.js?_nc_x=Ij3Wp8lg5Kz">https://static.cdninstagram.com/rsrc.php/v3ifSQ4/y0/l/en_US/BqaSE5X3ZuGbdNZ21mcVm7NU_jFXDCORmgHHMXh1Z3-jdVWBMdBzpT_i4rcqQsyVPL_1YNdNsYQi0nxIWFXTZK0-hw13SqsRtIDFOl6BnJSzK1pphjtPDEb3ljFKkW_AEj05.js?_nc_x=Ij3Wp8lg5Kz</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">application/x-javascript</td>
    <td style="text-align:right;padding-left:1em">107450</td>
    <td style="padding-left:1em">GET</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    href="https://static.cdninstagram.com/rsrc.php/v3i_Hx4/y4/l/en_US/RlCSTP-SvA5H0IAVA0wvov67Ty6PFa0LWgkvEPsX6fRCvHMuwKgfsFnvHYlrLfKaadRcnN5h6bxfm0yUrdsC0fYIAMBI80zJOUI03jlzqhxNs7TtMvDa7go8-6lZsebxCkrcvvUyON_BiZrMaMDOL31ahD-1hXgjkzkCD-lS7SyQ4LxVnXDO97XBRSJIohmRQ2b689kaYA-xmKIjN78VD7o8VH0NQy_1Q1KA2vkU6gfDx-2Bphu-u-_JPODYdhDmqGWp47SdeN1vtxYejYFD0oRW6UxS60zSmFsnLVLlFT1Ny61mMYKovsWqehdEtWwDQVEH-g-FDC.js?_nc_x=Ij3Wp8lg5Kz">https://static.cdninstagram.com/rsrc.php/v3i_Hx4/y4/l/en_US/RlCSTP-SvA5H0IAVA0wvov67Ty6PFa0LWgkvEPsX6fRCvHMuwKgfsFnvHYlrLfKaadRcnN5h6bxfm0yUrdsC0fYIAMBI80zJOUI03jlzqhxNs7TtMvDa7go8-6lZsebxCkrcvvUyON_BiZrMaMDOL31ahD-1hXgjkzkCD-lS7SyQ4LxVnXDO97XBRSJIohmRQ2b689kaYA-xmKIjN78VD7o8VH0NQy_1Q1KA2vkU6gfDx-2Bphu-u-_JPODYdhDmqGWp47SdeN1vtxYejYFD0oRW6UxS60zSmFsnLVLlFT1Ny61mMYKovsWqehdEtWwDQVEH-g-FDC.js?_nc_x=Ij3Wp8lg5Kz</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">application/x-javascript</td>
    <td style="text-align:right;padding-left:1em">8223</td>
    <td style="padding-left:1em">GET</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    href="https://static.cdninstagram.com/rsrc.php/v3ije04/y0/l/en_US/H6yUsi3lsDe.js?_nc_x=Ij3Wp8lg5Kz">https://static.cdninstagram.com/rsrc.php/v3ije04/y0/l/en_US/H6yUsi3lsDe.js?_nc_x=Ij3Wp8lg5Kz</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">application/x-javascript</td>
    <td style="text-align:right;padding-left:1em">53965</td>
    <td style="padding-left:1em">GET</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    href="https://static.cdninstagram.com/rsrc.php/v3/yM/r/3R40ckkhiCD.js?_nc_x=Ij3Wp8lg5Kz">https://static.cdninstagram.com/rsrc.php/v3/yM/r/3R40ckkhiCD.js?_nc_x=Ij3Wp8lg5Kz</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:silver">
    <td style="text-align:right;padding-left:1em" colspan="3"></td>
    <td style="padding-left:1em">POST</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    [href]=domainName+"/ajax/qm/?__a=1&amp;__user=0&amp;__comet_req=7&amp;jazoest=2913">https://www.instagram.com/ajax/qm/?__a=1&amp;__user=0&amp;__comet_req=7&amp;jazoest=2913</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">text/css</td>
    <td style="text-align:right;padding-left:1em">5971</td>
    <td style="padding-left:1em">GET</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    href="https://static.cdninstagram.com/rsrc.php/v3/y2/l/0,cross/zLCv0ByBljpPhAw02PnnETaV3gDqR--wP3E8bLj-YICr.css?_nc_x=Ij3Wp8lg5Kz">https://static.cdninstagram.com/rsrc.php/v3/y2/l/0,cross/zLCv0ByBljpPhAw02PnnETaV3gDqR--wP3E8bLj-YICr.css?_nc_x=Ij3Wp8lg5Kz</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">application/x-javascript</td>
    <td style="text-align:right;padding-left:1em">172731</td>
    <td style="padding-left:1em">GET</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    href="https://static.cdninstagram.com/rsrc.php/v3iBvy4/yR/l/en_US/cp4TD9CO8bO.js?_nc_x=Ij3Wp8lg5Kz">https://static.cdninstagram.com/rsrc.php/v3iBvy4/yR/l/en_US/cp4TD9CO8bO.js?_nc_x=Ij3Wp8lg5Kz</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">application/x-javascript</td>
    <td style="text-align:right;padding-left:1em">86204</td>
    <td style="padding-left:1em">GET</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    href="https://static.cdninstagram.com/rsrc.php/v3ih0O4/yh/l/en_US/HG8na53obLJPF0wN19saFrvsN3LAEfjU4lb6ph9iY4O0fSfh6bmgkFjTUhjXocr4KXsZMPNOxOH1hJnMWx7E1GtR3iOfpdYtAAZ22G20q_RnLelFK_RCKM9IT1NCVQVH57PdoVxdOMtU-I9ID8eRAClQQg_hZLsWwAveZAPm3yfv3on8-J1nQ3GDNTjpOz_OXTg6MM.js?_nc_x=Ij3Wp8lg5Kz">https://static.cdninstagram.com/rsrc.php/v3ih0O4/yh/l/en_US/HG8na53obLJPF0wN19saFrvsN3LAEfjU4lb6ph9iY4O0fSfh6bmgkFjTUhjXocr4KXsZMPNOxOH1hJnMWx7E1GtR3iOfpdYtAAZ22G20q_RnLelFK_RCKM9IT1NCVQVH57PdoVxdOMtU-I9ID8eRAClQQg_hZLsWwAveZAPm3yfv3on8-J1nQ3GDNTjpOz_OXTg6MM.js?_nc_x=Ij3Wp8lg5Kz</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">application/x-javascript</td>
    <td style="text-align:right;padding-left:1em">33341</td>
    <td style="padding-left:1em">GET</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    href="https://static.cdninstagram.com/rsrc.php/v3i0y74/yg/l/en_US/0FGc75u62gB.js?_nc_x=Ij3Wp8lg5Kz">https://static.cdninstagram.com/rsrc.php/v3i0y74/yg/l/en_US/0FGc75u62gB.js?_nc_x=Ij3Wp8lg5Kz</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">application/x-javascript</td>
    <td style="text-align:right;padding-left:1em">49623</td>
    <td style="padding-left:1em">GET</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    href="https://static.cdninstagram.com/rsrc.php/v3iGoD4/yh/l/en_US/fhI9ymOIsIO.js?_nc_x=Ij3Wp8lg5Kz">https://static.cdninstagram.com/rsrc.php/v3iGoD4/yh/l/en_US/fhI9ymOIsIO.js?_nc_x=Ij3Wp8lg5Kz</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">application/x-javascript</td>
    <td style="text-align:right;padding-left:1em">27516</td>
    <td style="padding-left:1em">GET</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    href="https://static.cdninstagram.com/rsrc.php/v3i0wM4/yV/l/en_US/d0eFE43__H2.js?_nc_x=Ij3Wp8lg5Kz">https://static.cdninstagram.com/rsrc.php/v3i0wM4/yV/l/en_US/d0eFE43__H2.js?_nc_x=Ij3Wp8lg5Kz</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">application/x-javascript</td>
    <td style="text-align:right;padding-left:1em">19774</td>
    <td style="padding-left:1em">GET</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    href="https://static.cdninstagram.com/rsrc.php/v3/y-/r/Ot30239aWuG.js?_nc_x=Ij3Wp8lg5Kz">https://static.cdninstagram.com/rsrc.php/v3/y-/r/Ot30239aWuG.js?_nc_x=Ij3Wp8lg5Kz</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">application/x-javascript</td>
    <td style="text-align:right;padding-left:1em">84778</td>
    <td style="padding-left:1em">GET</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    href="https://static.cdninstagram.com/rsrc.php/v3iaF84/y4/l/en_US/nycJg3roCMv.js?_nc_x=Ij3Wp8lg5Kz">https://static.cdninstagram.com/rsrc.php/v3iaF84/y4/l/en_US/nycJg3roCMv.js?_nc_x=Ij3Wp8lg5Kz</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">text/javascript</td>
    <td style="text-align:right;padding-left:1em">4004</td>
    <td style="padding-left:1em">POST</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    [href]=domainName+"/api/graphql">{{domainName}}</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">text/javascript</td>
    <td style="text-align:right;padding-left:1em">3974</td>
    <td style="padding-left:1em">POST</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    [href]=domainName+"/api/graphql">{{domainName}}</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">text/javascript</td>
    <td style="text-align:right;padding-left:1em">4004</td>
    <td style="padding-left:1em">POST</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    [href]=domainName+"/ajax/bulk-route-definitions/">{{domainName}}
      /ajax/bulk-route-definitions/</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:#66FF66">
    <td>200</td>
    <td style="white-space:nowrap">text/html</td>
    <td style="text-align:right;padding-left:1em">4112</td>
    <td style="padding-left:1em">GET</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    [href]=domainName+"/accounts/login/?next=/api/v1/users/web_profile_info/">{{domainName}}
      /accounts/login/?next=/api/v1/users/web_profile_info/</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:silver">
    <td style="text-align:right;padding-left:1em" colspan="3"></td>
    <td style="padding-left:1em">POST</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    [href]=domainName+"/ajax/bz?__a=1">{{domainName}}</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:silver">
    <td style="text-align:right;padding-left:1em" colspan="3"></td>
    <td style="padding-left:1em">POST</td>
    <td style="padding-left:1em"><a target="_blank"
                                    style="text-decoration:none;word-wrap:break-word;word-break:break-all"
                                    [href]=domainName+"/ajax/bz">{{domainName}}</a>
    </td>
  </tr>
  <tr valign="top" style="background-color:silver">
    <td style="text-align:right;padding-left:1em" colspan="3"></td>
    <td style="padding-left:1em">POST</td>
    <td style="padding-left:1em">
      <a target="_blank"
         style="text-decoration:none;word-wrap:break-word;word-break:break-all"
         [href]=domainName+"/ajax/bz?__a=1&amp;__ccg=UN">{{domainName}}</a>
    </td>
  </tr>
  </tbody>
</table>
