<mat-accordion hideToggle>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Klarna
      </mat-panel-title>
      <mat-panel-description>
        Images, text
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="checkerboard" style="padding-top: 15px; text-align: center">
      <img src="assets/images/demo/Klarna%20logotype%20(black.svg).svg" alt="klarna" class="logos"/>
      <img src="assets/images/demo/Klarna%20logotype%20(white.svg).svg" alt="klarna" class="logos"/>
      <img src="assets/images/demo/Klarna%20marketing%20badge%20(pink%20rgb.svg).svg" alt="klarna" class="logos"/>
    </p>
    <ul>
      <li>4 interest-free payments. Available for eligible orders</li>
      <li>interest-free payments.</li>
      <li>Available for eligible orders</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        PayPal
      </mat-panel-title>
      <mat-panel-description>
        Images
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="checkerboard" style="padding-top: 15px; text-align: center">
      <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/44_Blue_CheckOut_Pill_Button.png" alt="PayPal" class="logos"/>
      <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/44_Grey_CheckOut_Pill_Button.png" alt="PayPal" class="logos"/>
      <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/optimize/44_Yellow_PayPal_Pill_Button.png" alt="PayPal" class="logos"/>
      <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/optimize/44_Blue_PayPal_Pill_Button.png" alt="PayPal" class="logos"/>
      <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/optimize/44_Grey_PayPal_Pill_Button.png" alt="PayPal" class="logos"/>
      <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/optimize/44_Yellow_PayPal_Pill_Button.png" alt="PayPal" class="logos"/>
      <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/optimize/logo-center-other-options-blue-secured-pp.png" alt="PayPal" class="logos"/>
      <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/optimize/logo-center-other-options-white-secured-pp.png" alt="PayPal" class="logos"/>
      <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/optimize/Full_Online_Tray_RGB.png" alt="PayPal" class="logos"/>
      <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/optimize/Online_Primary_Acceptance_Mark_RGB_V2.jpg" alt="PayPal" class="logos"/>
      <img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-200px.png" alt="PayPal" class="logos"/>
    </p>
  </mat-expansion-panel>
</mat-accordion>
