:host {
  display: block;
  padding: 2rem;
}

.header-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.mat-elevation-z8 {
  width: 100%;
}

.actions-cell {
  width: 120px;
  text-align: right;
}
