<nav aria-label="primary">
  <ul>
    @if (isWide) {
      <li>
        <a class="nav-link" title="team" routerLink="/" routerLinkActive="selected" (click)="goAndCloseParent('/')">
          <span class="nav-link-inner">Home</span>
        </a>
      </li>
    }
    <li>
      <a class="nav-link" title="slides" (click)="openSlides()">
        <span class="nav-link-inner">YC video</span>
      </a>
    </li>
    <li>
      <a class="nav-link" title="team" routerLink="/doc/team" routerLinkActive="selected" (click)="goAndCloseParent('/doc/team')">
        <span class="nav-link-inner">Team</span>
      </a>
    </li>
    <li>
      <a class="nav-link" title="team" routerLink="/demo" routerLinkActive="selected" (click)="goAndCloseParent('/demo')">
        <span class="nav-link-inner">Demo</span>
      </a>
    </li>
  </ul>
</nav>
