<div class="doc-navbar"></div>

<header class="marketing-banner">
  <h1 class="banner-headline no-toc no-anchor">Team</h1>
</header>
<section class="row">
  <div class="col">
    <h2><a href="https://linkedin.com/in/oisinosullivan" target="_blank">Oisín O'Sullivan</a></h2>
    <img src="assets/images/docs/Oisín.jpeg" class="profile-pic" alt="Oisín photo">
    <p>Oisín is currently pursuing his MBA at MIT. His focus is on Entrepreneurship in the fintech sector.</p>
    <p>Previously, Oisín joined Klarna to lead the launch of the unicorn buisness across Ireland. During his tenure, Klarna achieved over 540k Irish users and 1,600+ merchants. His role involved leading new business across Ireland. He closed their largest deal of 2021.</p>
    <p>Before Klarna, Oisin worked across Business Development and Management Consulting in London, Los Angeles and Dublin, for businesses such as Learnosity, LVX Global, KPMG and Deloitte Digital.</p>
  </div>
  <div class="col">
    <h2><a href="https://linkedin.com/in/samuelmarks" target="_blank">Samuel Marks</a></h2>
    <img src="assets/images/docs/Samuel.png" class="profile-pic" alt="Samuel photo">
    <p>Samuel is a postdoctoral Research Fellow at Harvard Medical School. He is also doing his second PhD in compilers and Artificial Intelligence.</p>
    <p>For the past decade he has been running a software-engineering consultancy and contributing heavily to open-source libraries.</p>
  </div>
</section>
